---
title: Chyun Wu
layout: default
---

<h1>{{ page.title }}</h1>
<h1>永不止步的蜗牛！</h1>
<div id=description class=vcard>
  <p>
    
  <img src="{{site.baseurl}}/images/mislav.jpg" alt="Mislav" class="fn photo" lang=hr>
A <span class=title>software craftsman</span> from
<span class=adr><span class=country-name>Hangzhou</span>, China</span>.<br>
<!--
<a class=email href="mailto:mislav.marohnic@gmail.com">mislav.marohnic@gmail.com</a>
-->
</p>

  <p>
    The best way to get to know me:
  </p>
  <ul>
    <li>I <a href="{{site.baseurl}}/blog/">write</a></li>
    <li>I <a href="{{site.baseurl}}/instapaper/" title="">read</a></li>
    
  </ul>
</div>

<h2>Latest blog post:</h2>

<section class="posts hfeed">
{% for post in site.posts %}
{% unless post.link or rendered_one %}
  <article class="hentry">
    <header>
      <h2 class=entry-title><a rel=bookmark href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></h2>
      <time datetime="{{ post.date | date_to_xmlschema }}" class=published pubdate>{{ post.date | date_to_string }}</time>
    </header>
    {% if page.description %}<p class=entry-summary>{{ post.description }}</p>{% endif %}
  </article>
{% assign rendered_one = true %}
{% endunless %}
{% endfor %}

  <nav><a class="home" href="{{site.baseurl}}/blog/">→ All blog posts</a></nav>
</section>
